@mixin reset-style-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin caption-table {
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

@mixin title-table {
  font-weight: 400;
  font-size: 12px;
  color: $grey-text;

  @media (max-width: $mobile-max-width) {
    font-size: 9px;
  }
}

@mixin text-table {
  font-weight: 400;
  font-size: 13px;

  @media (max-width: $mobile-max-width) {
    font-size: 10px;
  }
}

@mixin data-table {
  font-weight: 600;
  font-size: 13px;

  @media (max-width: $mobile-max-width) {
    font-size: 10px;
  }
}
