//Colors
$white: #ffffff;
$black:#000000;
$red: #ee144e;
$orange: #f1ae00;
$pink: #ee3461;
$green: #8bc834;
$yellow: #d69813;
$grey-text: #a0a0a0;
$grey-dark-text: #808080;
$grey: #e1e1e1;
$grey-border: #cecdc8;

// Viewports
$min-width: 320px;
$max-width: 1920px;
$mobile-max-width: 767px;
$tablet-max-width: 1023px;
